<% layout("/layouts/boilerplate") %>

<div class="container mt-5">

  <div class="row justify-content-center">

    <div class="col-lg-6">

      <h3 class="mb-4 fw-bold">Create a New Listing</h3>

      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            id="title"
            name="listing[title]"
            type="text"
            placeholder="Enter title"
            class="form-control"
            required
          >
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            name="listing[description]"
            rows="3"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please Enter the Short Discription</div>

        </div>

        <!-- Image -->
<div class="mb-3">
  <label for="image" class="form-label">Upload Listing Image</label>
  <input
    id="image"
    name="listing[image]"
    type="file"
    class="form-control"
    required
  >
</div>


        <!-- Price & Country Row -->
        <div class="row">

          <div class="mb-3 col-lg-6">
            <label for="price" class="form-label">Price</label>
            <input
              id="price"
              name="listing[price]"
              placeholder="Enter price"
              class="form-control"
              required
            >
            <div class="invalid-feedback">Please Enter the valid price</div>
          </div>

          <div class="mb-3 col-lg-6">
            <label for="country" class="form-label">Country</label>
            <input
              id="country"
              name="listing[country]"
              type="text"
              placeholder="Enter country"
              class="form-control"
              required
            >
            <div class="invalid-feedback">Please Enter the valid country name</div>

          </div>
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            id="location"
            name="listing[location]"
            type="text"
            placeholder="Enter location"
            class="form-control"
            required
          >
          <div class="invalid-feedback">Please Enter the valid location</div>
        </div>

        <button type="submit" class="btn btn-danger fw-bold">
  Add
</button>

      </form>

    </div>

  </div>

</div>